/* .products-container{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:45px;
    
    } */

    /* .shop-container{


        display: grid;
       grid-template-columns: 4fr 1fr; 
     
   } */


   .review-container{

 margin: 50px; auto;


   }

   .proceed-btn{
    display: flex;
    justify-content: space-between;
    width:90%;
     margin: 10px auto;
     background:rgb(59, 59, 6);
     color: white;




   }
.review-link{

text-decoration: none;
}


